.contactFormContainer {
    width: 100%;
    display: flex;
    padding: 8vw 0;
}

.contactDetailBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactDetail h2{
    margin-bottom: 20px;
    font-size: 60px;
    letter-spacing: 2px;
}

.contactDetail p {
    margin: 10px 0;
    font-size: 25px;
}

.contactIcon {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;   
}

.contactIcon p {
    width: 50px;
    height: 50px;
    background-color: gainsboro;
    border: 1px solid gray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
}

.inputContainerBox{
    width: 50%;
}

.inputContainer {
    width: 80%;
}

.inputContainer h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.contactTwoInput {
    display: flex;
    justify-content: space-between;
}

.inputTwins {
    width: 45%;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid gray;
}

.inputTwins input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
}

.inputContainer textarea {
    width: 100%;;
    height: 150px;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
}

.inputContainer button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: black;
    color: white;
}


@media screen and (max-width: 1000px) {
    .contactFormContainer {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 4vw 0;
    }
    .contactDetailBox {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0 0 0;
    }



    .inputContainer {
        width: 70%;
    }

    .inputContainerBox{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .contactTwoInput {
        display: flex;
        flex-direction: column;
    }
    .inputTwins {
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 430px) {
    .contactDetail h2{
        margin-bottom: 10px;
        font-size: 40px;
    }
    .contactDetail p {
        margin: 10px 0;
        font-size: 20px;
    }
    .contactFormContainer {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 4vw 0;
    }
    .contactDetailBox {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 50px 0 0 0;
    }
    .contactIcon p {
        width: 40px;
        height: 40px;
    }


    .inputContainer h2 {
        margin-bottom: 20px;
        font-size: 40px;
    }
    .inputContainer {
        width: 90%;
    }
    .inputContainerBox{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contactTwoInput {
        display: flex;
        flex-direction: column;
    }
    .inputTwins {
        height: 40px;
        margin-bottom: 10px;
    }
    .inputContainer button {
        width: 100%;
        height: 50px;
    }
}