.homeImageContainer {
    width: 100%;
    height: 88vh;
    background-color: black;
    overflow: hidden;
}

.homeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.homeTextContainer{
    width: 100%;
    height: 88vh;
    color: white;
    position: absolute;
    top: 12vh;
    padding-left: 50px;
    letter-spacing: 5px;
    font-size: 8vw;
    text-transform: uppercase;
    text-wrap: nowrap;
}

@keyframes textAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.homeTextContainerHeading {
    margin-top: 20vh;
}

.homeHeadingText {
    animation-name: textAnimation;
    animation-duration: 7s;
    overflow: hidden;
}

.homeTextContainerHeading2 {
    margin-top: 10px;
    
}

.homeHeadingText2 {
    animation-name: textAnimation;
    animation-duration: 4s;
    overflow: hidden;
}

.featuredCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.featuredCardContainer h1 {
    font-size: 70px;
}

.featuredCardContainer a {
    color: black;
}

.cardsContainer{
    width: 100%;
    display: grid;
    grid-template-areas: "cards cards cards cards cards";
    overflow-y: scroll;
}

.cardsContainer::-webkit-scrollbar {
    display: none;
}



@media screen and (max-width: 1000px) {
    .homeImageContainer {
        width: 100%;
        height: 45vh;
    }
    .homeTextContainer{
        font-size: 11vw;
    }
    .homeTextContainerHeading {
        margin-top: 10vh;
    }
    .featuredCardContainer h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 500px) {
    .homeImageContainer {
        width: 100%;
        height: 40vh;
    }
    .homeTextContainer{
        font-size: 11vw;
        letter-spacing: 2px;
        padding-left: 20px;
    }
    .homeTextContainerHeading {
        margin-top: 10vh;
    }
    .featuredCardContainer h1 {
        font-size: 50px;
    }
}

@media screen and (max-height: 430px) {
    .homeImageContainer {
        width: 100%;
        height: 88vh;
    }
    .homeTextContainer{
        font-size: 8vw;
    }
    .homeTextContainerHeading {
        margin-top: 20vh;
    }
}