.productCardsContainer {
    width: 100%;
    min-height: 100vh;   
}

.productsFilter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: sticky;
    z-index: 25;
    top: 0;
}

.productsFilter button {
    padding: 1vw 3vw;
    border: 2px solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 20px;
    text-wrap: nowrap;
}

.productsFilter button:hover {
    background-color: gainsboro;
}

.filterLinkActiveCss {
    background-color: rgb(212, 212, 212);
}

.shopContainer {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-areas: "cards cards cards cards";
    padding: 0 100px;
}

@media screen and (max-width: 1280px) {
    .shopContainer {
        grid-template-areas: "cards cards cards";
    }
}

@media screen and (max-width: 900px) {
    .shopContainer {
        grid-template-areas: "cards cards";
    }
}
@media screen and (max-width: 500px) {
    .shopContainer {
        grid-template-areas: "cards";
    }
    .productsFilter button {
        padding: 1vw 2vw;
        border: 1px solid rgb(207, 207, 207);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        border-radius: 0px;
        letter-spacing: 1px;
        cursor: pointer;
        font-size: 5vw;
        text-wrap: nowrap;
    }
}