.productCardsContainer {
    width: 100%;
    min-height: 100vh;   
}

.productsFilter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--surface);
}

.productsFilter button {
    padding: 8px 15px;
    border: none;
    color: var(--primary-text);
    background-color: var(--nav-bg);
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-wrap: nowrap;
}

.productsFilter button:hover {
    background-color: var(--footer-bg);
}

.filterLinkActiveCss {
    background-color: rgb(212, 212, 212);
}

.shopContainer {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-areas: "cards cards cards cards";
    /* padding: 50px; */
    gap: 20px;
}

@media screen and (max-width: 1280px) {
    .shopContainer {
        grid-template-areas: "cards cards cards";
    }
}

@media screen and (max-width: 900px) {
    .shopContainer {
        grid-template-areas: "cards cards";
    }
}
@media screen and (max-width: 500px) {
    .shopContainer {
        grid-template-areas: "cards";
    }
    .productsFilter button {
        padding: 1vw 2vw;
        border: 1px solid rgb(207, 207, 207);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        border-radius: 0px;
        cursor: pointer;
        font-size: 5vw;
        text-wrap: nowrap;
    }
}