.blogCardContainer {
    width: 350px;
    height: 400px;
    letter-spacing: 1px;
    border-radius: 5px;
    overflow: hidden;
    margin: 25px;
    background-color: var(--surface);
    color: var(--primary-text);
}

a {
    text-decoration: none;
}

.blogImageContainer {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.blogImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.blogCardContainer:hover .blogImage {
    transform: scale(1.1);
}

.blogDetailsContainer {
    padding: 0 15px;
}

.blogMeta {
  padding: 15px 0 5px;
  font-size: 0.85rem;
  color: var(--olive-dark);
}

.blogMeta span {
  color: var(--dark-green);
}

.clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}

.blogTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
}

.blogDescription {
  margin: 10px 0;
  font-size: 0.95rem;
  color: var(--charcoal);
  overflow: hidden;
}

@media screen and (max-width: 500px) {
    .blogCardContainer {
        width: 95vw;
        height: 450px;
        background-color: var(--sage-gray);
        letter-spacing: 1px;
        border-radius: 5px;
        overflow: hidden;
        margin: 5vw 0;
        color: var(--pure-black);
    }
}

@media screen and (max-height: 430px) {
    .blogCardContainer {
        width: 45vw;
        height: 400px;
        background-color: var(--sage-gray);
        letter-spacing: 1px;
        border-radius: 5px;
        overflow: hidden;
        margin: 5vh;
        color: var(--pure-black);
    }
}

@media screen and (max-height: 320px) {
    .blogCardContainer {
        width: 70vw;
        height: 400px;
        margin: 5vh;
    }
}