.blogCardContainer {
    width: 350px;
    height: 400px;
    background-color: gainsboro;
    letter-spacing: 1px;
    border-radius: 5px;
    overflow: hidden;
    margin: 25px;
    color: black;
}

a {
    text-decoration: none;
}

.blogImageContainer {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.blogImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.blogCardContainer:hover .blogImage {
    transform: scale(1.1);
}

.blogDetailsContainer {
    padding: 0 15px;
}


.blogDetailsContainer p:nth-child(1) {
    padding: 15px 0;
}

.blogDetailsContainer p:nth-child(1) span {
    color: crimson;
}

.blogDetailsContainer p:nth-child(3) {
    padding: 10px 0;
}

@media screen and (max-width: 500px) {
    .blogCardContainer {
        width: 95vw;
        height: 450px;
        background-color: gainsboro;
        letter-spacing: 1px;
        border-radius: 5px;
        overflow: hidden;
        margin: 5vw 0;
        color: black;
    }
}

@media screen and (max-height: 430px) {
    .blogCardContainer {
        width: 45vw;
        height: 400px;
        background-color: gainsboro;
        letter-spacing: 1px;
        border-radius: 5px;
        overflow: hidden;
        margin: 5vh;
        color: black;
    }
}

@media screen and (max-height: 320px) {
    .blogCardContainer {
        width: 70vw;
        height: 400px;
        margin: 5vh;
    }
}