.footerContainer {
    width: 100%;
    background-color: var(--footer-bg);
    color: var(--secondary-text);
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-top: 80px;
}

.footerAbout {
    padding: 25px 0;
    border-top: 1px var(--secondary-text) solid;
    display: flex;
    justify-content: space-between;
}

.footerPayment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerInputContainer {
    display: flex;
    align-items: center;
    background-color: var(--primary-text);
    border-radius: 20px;
    padding: 5px 10px;
}

.footerInput {
    border: none;
}

.footerSocial {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerRights {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.copyRightIcon {
    padding-top: 3px;
}

.footerRights a {
    text-decoration: underline;
    color: var(--primary-text);
    font-weight: 700;
}

.footerSocialIconContainer {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .footerContainer {
        grid-template-areas: "fourColumn fourColumn";
        padding: 40px 0;
    }
}

@media screen and (max-width: 500px) {

    .footerContainer {
        grid-template-areas: "fourColumn";
    }

}