.navbar {
    width: 100%;
    height: 15vh;
    display: flex;
    background-color: aliceblue;
}

.logoContainer {
    width: 25vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.navLink {
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navLinkContainer {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navLinkContainer a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.ccContainer {
    /* background-color: goldenrod; */
    width: 15vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

.ccIcon {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 30px;
}