.ourStoryContainer {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
}

.ourStoryHeading {
    letter-spacing: 3px;
    font-size: 70px;
}

.ourStoryParaContainer {
    height: 100%;
    width: 70vw;
    margin-top: 15px;
    /* background-color: burlywood; */
}

.ourStoryPara {
    margin-top: 20px;
    font-size: 25px;
    line-height: 35px;
    color: rgb(30, 30, 30);
}
