.ourStoryContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
}

.ourStoryHeading {
    letter-spacing: 3px;
    font-size: 70px;
}

.ourStoryParaContainer {
    height: 100%;
    width: 70vw;
    margin-top: 15px;
}

.ourStoryPara {
    margin-top: 20px;
    line-height: 35px;
    color: rgb(30, 30, 30);
}

@media screen and (max-width: 1000px) {
    .ourStoryParaContainer {
        height: 100%;
        width: 80vw;  
    }
}

@media screen and (max-width: 500px) {
    .ourStoryHeading {
        letter-spacing: 2px;
        font-size: 50px;
    }
    .ourStoryParaContainer {  
        font-size: 16px;
    }
    .ourStoryPara {
        margin-top: 10px;
        line-height: 20px;
    }
}
