.ourTeamContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
    box-sizing: border-box;
}

.ourTeamContainer h1 {
    letter-spacing: 3px;
    font-size: 70px;
}

.ourTeamParaContainer {
    width: 70vw;
    font-size: 25px;
    line-height: 35px;
    margin-top: 30px;
}

.ourTeamHeroImgContainer {
    margin-top: 30px;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    border-radius: 25px;
}

.ourTeamHeroImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ourTeamName {
    padding-top: 20px;
    font-size: 25px;
    
}

.ourTeamPost {
    display: flex;
    align-items: center;
    color: #515151;
    padding-top: 10px;
}

.ourTeamPost span {
    color: #249EF0;
    margin-right: 3px;
}

@media screen and (max-width: 1000px) {
    .ourTeamParaContainer {
        width: 80vw;  
    }
    .ourTeamHeroImgContainer {
        width: 40vw;
        height: 40vw;
    }
}

@media screen and (max-width: 430px) {
    .ourTeamContainer h1{
        letter-spacing: 2px;
        font-size: 50px;
    }
    .ourTeamParaContainer {  
        font-size: 16px;
    }
    .ourTeamParaContainer {
        margin-top: 10px;
        line-height: 20px;
    }
    .ourTeamHeroImgContainer {
        width: 80vw;
        height: 80vw;
    }
}

@media screen and (max-height: 430px) {
    .ourTeamContainer h1{
        letter-spacing: 2px;
        font-size: 50px;
    }
    .ourTeamParaContainer {  
        font-size: 16px;
        margin-top: 10px;
        line-height: 20px;
    }
    .ourTeamHeroImgContainer {
        width: 30vw;
        height: 30vw;
    }
}